<div class="container">
  <div class="row border-gray">
      <div class="col-xs-12">
        <p> <%= @question %> </p>
        <p> - You</p>
    </div>
  </div>
  <div class="row border-gray">
      <div class="col-xs-12">
        <p> <%= @answer %></p>
        <p> - Your Coach</p>
    </div>
  </div>

  <%= link_to "Ask another question", :ask %>
</div>
<!-- display the question -->
<!-- display the answer -->
