
<div class="container clearfix">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <form action="/answer" method ="get" class = "form-group">

        <div class="form-group">
          <input type="text" name="question" placeholder="What is your question?" class ="form-control">

          <input type="submit" value="Ask" class = "btn btn-info btn-lg btn-block">
        </div>

      </form>
    </div>
  </div>
</div>
